$primary-color: #83CF86;
$secondary-color: #FFB257;
$background-color: #F5F5F5;
$input-text-color: #5F5F5F;
$placeholder-color: #A4A4A4;
$error-color: #DB6B6B;
$dark-grey-color: #999999;
$medium-gray-color: #DFDFDF;
$white-color: #FFF;